* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

.container {
  display: flex;
  justify-content: center;
}

.container-inner {
  width: 1200px;
}

.page-title {
  text-align: center;
  font-weight: 300;
  font-size: 2.5rem;
}

.add-restaurant-form {
  margin-bottom: 30px;
}

.add-restaurant-form__errors {
  margin-bottom: 5px;
  display: flex;
  color: red;
}

.add-restaurant-form__fields {
  display: flex;
  flex-shrink: 1;
}

.add-restaurant-form__name,
.add-restaurant-form__location,
.add-restaurant-form__price-range {
  margin-right: 10px !important;
}

.add-restaurant-form__errors > div,
.add-restaurant-form__name,
.add-restaurant-form__location {
  flex-basis: 36%;
}

.add-restaurant-form__price-range {
  flex-basis: 21%;
}

.add-restaurant-form__button {
  flex-basis: 7%;
}

.field-container {
  margin-bottom: 25px;
}

.table-row {
  cursor: pointer;
}

.table-row:hover {
  background-color: hsl(0, 0%, 90%);
}

.card {
  flex-basis: 22%;
  margin-right: 3%;
  margin-bottom: 30px;
}

.card__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #f4f4f4;
}

.card__rating {
  margin-right: 10px;
}

.container-reviews {
  width: 90vw;
  display: flex;
  flex-direction: column;
}

.restaurant-reviews {
  display: flex;
  flex-wrap: wrap;
}

.ratings-cell {
  display: flex !important;
  justify-content: center;
  align-items: center;
}

.ratings-cell > span {
  margin-right: 5px;
}

.centered {
  align-self: center !important;
  margin-bottom: 30px;
}

@media only screen and (min-width: 2400px) {
  html {
    font-size: 19px;
  }
}

@media only screen and (min-width: 2100px) and (max-width: 2399px) {
  html {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1900px) and (max-width: 2099px) {
  html {
    font-size: 17px;
  }
}

@media only screen and (min-width: 1750px) and (max-width: 1899px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1300px) and (max-width: 1749px) {
  html {
    font-size: 15px;
  }
}

@media only screen and (min-width: 1180px) and (max-width: 1299px) {
  html {
    font-size: 14px;
  }
}

@media only screen and (min-width: 800px) and (max-width: 1179px) {
  html {
    font-size: 13px;
  }
}

@media only screen and (max-width: 799px) {
  html {
    font-size: 12px;
  }
  .responsive-container {
    width: 95%;
    margin: 0 auto;
  }
  .card {
    flex-basis: 30%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 612px) {
  html {
    font-size: 12px;
  }
  .responsive-container {
    width: 95%;
    margin: 0 auto;
  }
  .card {
    flex-basis: 30%;
    margin-right: 3%;
  }
}

@media only screen and (max-width: 612px) {
  table,
  thead,
  tbody,
  th,
  td,
  tr {
    display: block !important;
  }

  thead tr {
    position: absolute;
    top: -9999px;
    left: -9999px;
  }

  tr {
    border: 1px solid #ccc;
  }

  th {
    border-bottom: 1px solid #eee !important;
  }

  td {
    border: none;
    border-bottom: 1px solid #eee !important;
    position: relative;
    padding-left: 50%;
    height: 50px;
  }

  td:before {
    position: absolute;
    top: 16px;
    left: 6px;
    width: 45%;
    padding-right: 10px;
    white-space: nowrap;
  }

  .table-button {
    margin-top: -8px !important;
  }

  td:nth-of-type(1):before {
    content: "Restaurant";
  }
  td:nth-of-type(2):before {
    content: "Location";
  }
  td:nth-of-type(3):before {
    content: "Price Range";
  }
  td:nth-of-type(4):before {
    content: "Edit";
  }
  td:nth-of-type(5):before {
    content: "Delete";
  }

  .card {
    flex-basis: 48%;
  }
  .card:nth-child(2n) {
    margin-right: 0;
  }

  .card__header {
    flex-direction: column;
    padding-bottom: 10px !important;
    word-break: break-all;
  }
}
